.hero {
  background-image: url("../assets/images/new-hero-image.jpg");
  background-size: cover;
}

.hero-body {
  background-color: rgba(plum, 0.7);
}

.hero-title {
  font-size: 125px;
  font-style: italic;
  color: navy;
}
