.hero {
  background-image: url("../assets/images/new-hero-image.jpg");
  background-size: cover;
}

.hero-body {
  background: linear-gradient(to bottom, transparent 85%, plum);
}

.hero-title {
  font-size: 125px;
  font-style: italic;
  color: navy;
}
