.collections {
  background-color: hotpink;
}

.collection-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  object-fit: cover;
}

.palette-name {
  font-size: x-large;
}
